*{
    padding: 0;
    margin: 0;
}

/*-- Homepage --*/

/* Header and Nav */

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(Picture/top-img.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

body{
    font-family: 'Poppins', 'Montserrat', sans-serif;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-link{
    flex: 1;
    text-align: right;
}

.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-link ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 26px;
}

.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #65C18C;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-link ul li:hover::after{
    width: 100%;
}

.top-image{
    position: absolute;
    height: 100%;
    width: 100%;
}

.homepage-about-us{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.homepage-about-us h1{
    font-size: 48px;
}

.homepage-about-us p{
    font-size: 18px;
}

.homepage-about-us-button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 32px;
    font-size: 18px;
    background: #0B9566;
    position: relative;
    cursor: pointer;
}

.homepage-about-us-button:hover{
    background: #65C18C;
    transition: 0.3s;
}

/* Programs */

.homepage-program{
    background-color: #C1F4C5;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.campus{
    width: 50%;
    float: right;
}

.homepage-program h1 p{
    float: left;
}

.homepage-program h1{
    font-size: 48px;
    padding-left: 10%;
}

.homepage-program p{
    font-size: 30px;
    padding-left: 10%;
}

.program-button{
    left: 150px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 32px;
    font-size: 30px;
    background: #0B9566;
    position: relative;
    cursor: pointer;
}

.program-button:hover{
    background: #65C18C;
    transition: 0.3s;
}

/* Our President */

.homepage-president{
    width: 100%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.homepage-president h1{
    font-size: 48px;
    padding-bottom: 30px;
}

.homepage-president-box{
    background-color: #C1F4C5;
    box-shadow: 0 0 0 0 #999;
    flex-direction: column;
    align-content: center;
    display: flex;
    width: 50%;
    justify-content: center;
    margin: auto;
}

.homepage-president-picture{
    position: relative;
    width: 100%;
}

.homepage-president h2{
    padding-top: 20px;
    font-size: 32px;
}

.homepage-president p{
    font-size: 18px;
}

.president-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 25px;
    background: #0B9566;
    position: relative;
    cursor: pointer;
}

.president-btn:hover{
    background: #65C18C;
    transition: 0.3s;
}

/* Footer */

footer img{
    width: 80px;
    height: 80px;
}

.footer{
    background-color: #C1F4C5;
    padding-top: 100px;
    padding-bottom: 20px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
}

.footer h1{
    padding-top: 20px;
}

.socmed-logo{
    flex: 1;
    text-align: center;
    margin: 50px 10px 50px 10px;
}

.socmed-logo ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 100px;
    position: relative;
}

.socmed-logo ul li a:hover{
    opacity: 0.5s;
    transition: 0.3s;
    cursor: pointer;
}

/*-- About us Page --*/

/* Navigation */

.navigation{
    width: 100%;
    background-color: #0B9566;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* Filling */

.about-us{
    width: 100%;
    position: relative;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    flex-direction: column;
    align-content: center;
    display: flex;
}

.about-us h1{
    text-align: center;
    padding-bottom: 30px;
    font-size: 48px;
}

.about-us p{
    text-indent: 50px;
    font-size: 25px;
    margin: auto;
}

.major{
    background-color: #C1F4C5;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    align-content: center;
    display: flex;
    width: 80%;
    justify-content: center;
    margin: auto;
}

.major h2{
    font-size: 40px;
}

.major p{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 60px;
}

.alumni{
    background-color: #C1F4C5;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    align-content: center;
    display: flex;
    width: 80%;
    justify-content: center;
    margin: auto;
}

.alumni h2{
    font-size: 40px;
}

.alumni p{
    font-size: 60px;
}

.about-us-img{
    margin-left: 165px;
    width: 80%;
}

/*-- Program --*/

/* Our Programs */

.program{
    text-align: center;
    width: 100%;
    position: relative;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    flex-direction: column;
    align-content: center;
    display: flex;
}

.program h1{
    font-size: 48px;
}

.programs{
    padding-top: 40px;
    font-size: 25px;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
}

.listed-program{
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

/*-- President --*/

/* Meet our President */

.president{
    text-align: center;
    position: relative;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

.president h1{
    font-size: 48px;
    padding-bottom: 30px;
}

.president-pic{
    padding-top: 60px;
    padding-bottom: 40px;
    width: 90%;
    justify-content: center;
    margin: auto;
}

.president-box{
    background-color: #C1F4C5;
    flex-direction: column;
    align-content: center;
    display: flex;
    width: 70%;
    justify-content: center;
    margin: auto;
}

.president-box h2{
    font-family: 'Lato', 'Montserrat', sans-serif;
    font-size: 28px;
    padding-bottom: 35px;
}

.president-text-box{
    background-color: #C1F4C5;
    flex-direction: column;
    align-content: center;
    display: flex;
    width: 70%;
    justify-content: center;
    margin: auto;
}

.president-text-box p{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Lato', 'Montserrat', sans-serif;
    font-size: 25px;
}

/*-- Facility --*/

/*Facilities*/

.facility{
    text-align: center;
    position: relative;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

.facility h1{
    font-size: 48px;
    padding-bottom: 30px;
}

.facility h2{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 35px;
}

.facility h3{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
}

.facility img{
    width: 400px;
}

.facility-pic-group{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: baseline;
	align-content: stretch;
}

.img-and-caption{
    background-color: #C1F4C5;
    box-shadow: 0 0 20px 0 #999;
    flex-direction: column;
    display: flex;
}

.img-and-caption:hover{
    transform: scale(1.2);
    transition: 300ms;
    cursor: pointer;
}

.locker{
    width: 400px;
    height: 225px;
}

.canteen{
    width: 400px;
    height: 250px;
}

.resto{
    width: 400px;
    height: 225px;
}

.class{
    width: 400px;
    height: 250px;
}

.library{
    width: 400px;
    height: 220px;
}

.lounge{
    width: 400px;
    height: 225px;
}

.park{
    width: 400px;
    height: 273px;
}

.parking{
    width: 400px;
    height: 260px;
}

/*-- Contact Us Page --*/

/* Filling */

.filling{
    text-align: center;
    position: relative;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
}

.filling h1{
    font-size: 48px;
    padding-bottom: 30px;
    position: relative;
}

.filling h2{
    font-size: 18px;
}

.contact-us-box{
    width: 500px;
    background-color: #C1F4C5;
    box-shadow: 0 0 20px 0 #999;
    padding-top: 30px;
    padding-bottom: 30px;
    top: 50%;
    left: 34%;
    position: relative;
}

.input-field{
    text-align: justify;
    width: 200px;
    height: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
}

.file-field{
    width: 200px;
    height: 30px;
    padding-left: 100px;
    padding-right: 100px;
    border: none;
}

select{
    text-align: center;
    width: 298px;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.selector{
    padding-top: 10px;
    padding-bottom: 10px;
}

.message-field{
    width: 298px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.t-and-c{
    color: #0B9566;
    text-underline-position: below;
}

.btn{
    border-radius: 10px;
    color: white;
    margin-top: 15px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #0B9566;
    font-size: 18px;
    border: none;
}